/* App.css */

body {
  background-color: #f3f4f6; /* Cambia el color de fondo del cuerpo según tus preferencias */
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease; /* Animación de cambio de color durante 0.5 segundos */
}

/* Estilo adicional para el formulario si lo deseas 
.login-box form {
}
Animación para cambiar el color de fondo cada segundo */
@keyframes changeBackgroundColor {
  0% {
    background-color: #ff7e5f;
  }
  25% {
    background-color: #ffa07a;
  }
  50% {
    background-color: #66c7f4;
  }
  75% {
    background-color: #98ddca;
  }
  100% {
    background-color: #ff7e5f;
  }
}

.animated-background {
  animation: changeBackgroundColor 4s infinite; /* Cambia cada segundo (4 segundos de duración total) */
}
